*{
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
}
body{
    margin: 0;
}
.section__titulo{
    text-align: center;
    font-size: 40px;
    color: red;   
}
.g{
    font-size: 20px;

}

.regiones{
    display: flex;
}
.regiones > div{
    width: 50%;
    padding: 10px;
}

.contenedor{
    margin: auto;
    width: 99%;
}


/*estilos del header*/

.header{
    height: 60px;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;
}
.logo, .icon-menu{
    margin: 5px;
    color: white;
}

.icon-menu{
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: red;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}

.nav{
    position: absolute;
    top: 60px;
    left: 100%;
    width: 100%;
    transition: all 0.4s;
    background-color: red;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link{
    display: block;
    padding: 15px;
    background: red;
    text-decoration: none;
    color:white;
}

.menu__link:hover, .select{
    background: white;
    color: red;
}

.mostrar{
    left: 0;
}
.banner__img{
    max-width: 100%;
    
}

.banner{
    margin-top: -90px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
    overflow: hidden;  
}

.banner ul{
    display: flex;
    padding: 0;
    width: 500%;

    animation: cambio 20s infinite;
    animation-timing-function: ease-in;

}

.banner li{
    width: 100%;
    list-style: none;
}

.banner img{
    width: 100%;
}


@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
}

.banner__txt{
    display: none;
}


.info__columna{
    background: red;
    color: white;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: -5px 5px 5px black;
}

.regiones__columna{
    position: relative;
    margin-bottom: 30px;
}

.regiones__descripcion{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0,0,0,0.5);
    width: 60%;
    height: 100%;
    padding: 5px;
}
.regiones__titulo{
    font-size: 15px;
    margin: 5px 0;
}
.regiones__img{
    width: 100%;
}

.footer{
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"]{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    line-height: 40px;
}

@media(min-width:480px){
    
    
    .regiones{
        display: block;
        margin: 50px;
        padding: 50px;
    }
    .logo{
        font-size: 40px;
    }
    .banner__titulo{
        font-size: 30px;
        color: white;
        margin: 5px 0;
        font-style: italic;
    }
    .banner__txt{
        display: block;
        color: white;
        font-size: 18px;
        margin: 7px 0;
        font-style: italic;
    }
    .info,.regiones{
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .info__columna{
        width: 32%;
    }
    .info__titulo{
        font-size: 30px;
        margin: 5px 0;
        text-align: center;
    }
    .regiones{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .section__titulo{
        width: 100%;
    }
    .regiones__columna{
        width: 48%;
    }
    .footer .social [class^="icon-"]{
        margin: 0 10px;
    }
    .banner{
        display: block;
        
    }
    .info__img{
        display: block;
        margin: auto;
    }

}

@media(min-width:768px){
    
    .banner__titulo{
        font-size: 50px;
    }
    .regiones__titulo{
        font-size: 30px;
    }
    .info__img{
        display: block;
        margin: auto;
    }
    .info__titulo{
        text-align: center;
    }
}

@media(min-width:1024px){
    
    .contenedor{
        width: 1000px;
    }
    .section__titulo{
        font-size: 50px;
        margin: 30px 0;
    }
    .nav{
        position: static;
        width: auto;
    }
    .menu{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .menu__link{
        background: none;
        font-size: 20px;
    }
    .select{
        color: white;
        background:red;
    }
    .banner__titulo{
        font-size: 60px;
    }
    .banner__txt{
        font-size: 25px;
    }
    .info__columna{
        padding: 30px;
    }
    .info{
        margin-top: -110px;
    }
    .info__titulo{
        font-size: 40px;
        text-align: center;
    }
    .regiones__descripcion{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .regiones__titulo{
        font-size: 40px;
    }
    .regiones__txt{
        font-size: 20px;
    }
    .info__img{
        display: block;
        margin: auto;
    }
}

@media(min-width:1280px){
    
    .contenedor{
        width: 1200px;
    }
    .banner .contenedor{
        top: 40%;
    }
    .info{
        margin-top: -220px;
    }
    .info__img{
        display: block;
        margin: auto;
    }
    .info__titulo{
        text-align: center;
    }
    
}

.info__txt{
    font-size: 15px;
    text-align: center;
}
.infor__txt{
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

.info__img{
    display: block;
    margin: auto;
}

.O{
    display: inline-flex;
    width: 100%;
    page-break-after: auto;
    padding-bottom: 25px;
}

.T{
    width: 100%;
    text-align: justify;
    padding: 1px 90px;  
}

.X{
    margin: auto;
    padding-right: 60px;

}

.X{
    position: center;
    padding-top: 500px;

}


.formx{
    
    margin:calc(35vh - 320px) auto;
    border-radius:8px;
    background:#e6e6e6;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative;
  
}

.xd{
    border: 0;
}
input{width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',
    sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;}

input:focus{
        border-bottom:2px solid #78788c}

.L:before{content:attr(type);
            display:block;margin:28px 0 0;
            font-size:14px;
            color:#5a5a5a;}

button{float:inline-end;
      padding:8px 12px;
      margin:8px 0 0;
      font-family:'Montserrat',sans-serif;
      border:2px solid #78788c;
      background:0;
      color:#5a5a6e;
      cursor:pointer;
      transition:all .3s;}

      button:hover{
        background:#78788c;
        color:#fff;} 
        
        
        .ñ{
            content:'Hi';
              position:absolute;
              bottom:-15px;right:-20px;
              background:#50505a;
              color:#fff;
              width:320px;
              padding:16px 4px 16px 0;
              border-radius:6px;
              font-size:13px;
              box-shadow:10px 10px 40px -14px #000}

  span{margin:0 5px 0 15px;}
  
  form-icon{
      display: inline;
      padding: center;
  }
  
  .login {
  margin:0 auto;
  max-width:500px;
}
.login-header {
  color:red;
  text-align:center;
  font-size:300%;
  padding-top: 200px;
}
.login-form {
  border:.5px solid #fff;
  background:#4facff;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
	padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.login-form input[type="submit"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family:  sans-serif;
  cursor:pointer;
}